<div class="container">
<p> 
<strong>Please choose team which you belong.</strong><br>
<i>If you don`t belong any team choose "None"</i>
</p>
<!-- 
<%= link_to 'Teams', controller: 'teams' %>
 -->
<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>
 
<p>
  <strong>Last Name</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team.name %>
</p>

<p>
  <strong>Posts:</strong>
 
  <%= render @user.posts %>
 
</p>



<%= link_to "Edit your profile", edit_user_path(current_user) %>


<% if current_user.admin? %>
    | <%= link_to "Delete", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>

</div>