<%= form_for :post, :url => project_posts_path(@project, @post), method: :post do |f| %>
  <p>

  	<%= f.hidden_field :user_id %>
  	<%= f.hidden_field :project_id %>

    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
    
<% end %>


